{% extends 'base.html' %}

{% block content %}
<nav class="home-navbar">
    <div class="logo">
      <img height="150" src="../static/booklib logo.png" alt="Logo">
    </div>

    <div class="search-bar" >
        <input type="search" id="form1" class="form-control" placeholder="Find book " aria-label="Search" />
    </div>

    <div class="cart">
      <div class="cart-icon">
          {% if current_user.is_authenticated and current_user.carts %}
              <!-- Display the actual cart count -->
              <span class="cart-item-count">{{ current_user.carts[-1].data.split('\n') | length - 1 }}</span>
          {% else %}
              <!-- If the user is not logged in or the cart is empty, display 0 -->
              <span class="cart-item-count">0</span>
          {% endif %}
          <i class="fa-solid fa-basket-shopping"></i>
      </div>
  </div>
    <div class="profile">
        <img src="https://qph.cf2.quoracdn.net/main-qimg-54267778c97f83c195ad7b0efb64aaa9-lq" alt="hugenerd" width="40" height="40" class="rounded-circle">
        <p class="d-none d-sm-inline mx-1">Hey, {% if username %}{{ username }}{% else %}Guest{% endif %}</p>
    </div>
  </nav>
  <div class="home-menu-links py-2">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/home">Books <span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wishlist">Wishlist <span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: plum;" href="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
  
<!-- Cart Layout -->
<section>
  <div class="container">
    {% if cart_books %}
      {% for book in cart_books %}
        {% if book %}
          {% set book_info = book.split(", ") %}
          <div class="book-card">
            <div class="book-image">
              <img src="{{ book_info[2].split(": ")[1] }}" alt="img">
            </div>
            <div class="book-details">
              <h5>{{ book_info[0].split(": ")[1] }}</h5>
              <h6>{{ book_info[1].split(": ")[1] }}</h6>
              <p>{{ book_info[3].split(": ")[1] }}</p>
              <p>Quantity: 1</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No books in the cart.</p>
    {% endif %}
  </div>
</section>

  



{% endblock %}
