{% extends 'base.html' %}

{% block content %}

<!-- TESTING AREA -->

<div class="container-fluid p-0 m-0">
  <div class="frame1 p-0 m-0">
    <!-- This is the logo -->
    <!-- Logo code here -->
        <!-- This is the logo -->
        <img src="../static/background.png" alt="" class="img-fluid background">

        <!-- This is the nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark pt-5">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="../static/booklib logo.png" alt="Logo" width="260" height="85" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>

                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/contact">CONTACT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sign-up">SIGN UP</a>
                </li>

                {% endif%}
              </ul>
            </div>
          </div>
        </nav>
        
        <!-- This is the intro text for the landing page -->
        <p class="intro-text mt-5">DISCOVER YOUR NEXT <br> GREAT READS AT <br> ‘<span style="color: #732678;">BOOKLIB</span>’</p>
  </div>
</div>

<div class="container-fluid">
  <div class="frame2">
    <!-- Content for frame2 -->
    <p class="header-f2">Trending This Week</p>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Delectus, deserunt?</p>

    <div class="container pt-4">
      <div class="row">
        <div class="col-lg-4 mt-5 mb-4 ml-4 ">
          <!-- Large card with double height -->
          <div class="card card-f2 ">
            <div class="card-body p-0 m-0 bigbox-f2">
              <!-- Card content -->
              <img src="https://i.ebayimg.com/images/g/uDkAAOSwOvRbYd1b/s-l1600.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <!-- Row 1 -->
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 1 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://blog-cdn.reedsy.com/directories/gallery/62/large_3487783b001bf4666c60d7a855f5084b.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 2 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://m.media-amazon.com/images/I/61Qk8KIYpsL._AC_UF1000,1000_QL80_.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 2 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1577621760l/52220595.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>

          <!-- Row 2 -->
          <div class="row">
            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 3 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://media.npr.org/assets/img/2021/08/27/810hqnd6-es_custom-42c9ed6ce1a23ebaa07018f01fb8e3913c4e1af0.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 4 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2aa9a2145704431.62a2dd045fb2a.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
              <!-- Small card 4 -->
              <div class="card ">
                <div class="card-body p-0">
                  <!-- Card content -->
                  <img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/15/50/1449878132-9781781100264.jpg?resize=980:*" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid frame3">
  <div class="frame3-content">
    <!-- Content for frame3 -->
    <div class="row">
      <div class="col-6">
        <h3 class="mb-4 pt-5" style="color: #732678;">Featured Books</h3>
      </div>
      <div class="col-6 mt-5 text-end">
        <a href="#" class="link">view more <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="center">
      <div class="card mt-4 mb-4 mx-auto" id="card">
        <div class="row g-0">
          <div class="col-md-1 col-lg-4">
            <!-- Card cover image -->
            <img src="https://blog-cdn.reedsy.com/directories/admin/attachments/large_Glass-wall-353a56.jpg" class="card-img-top" alt="Book 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Card content -->
              <p class="card-text category-f3">Fiction<p class="card-text flex-end">Reviews: 4.5 (25 reviews)  &nbsp;&nbsp; <span class="stars">&starf; &starf; &starf; &starf; &star;</span></p>          </p>
              <h1 class="card-title">The Mind Of A Leader</h1>
              <div class="product">
                <h5>Description:</h5>
                <p class="description collapse" id="description1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum leo non leo lacinia, ac fringilla mauris finibus.</p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#description1" role="button" aria-expanded="false" aria-controls="description1">Show More</a>
              </div>
              
              <h4 class="card-text" style="color: #732678;"> $9.99</h4>
              <a href="" class="btn like"><i class="fa-solid fa-basket-shopping" style="color: #fff;"></i> Add to cart</a>
              <a href="" class="btn like"><i class="fa-solid fa-heart"></i> Like</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Repeat the above code for the other three cards -->
  
      <div class="card mt-4 mb-4 mx-auto" id="card">
        <div class="row g-0">
          <div class="col-md-1 col-lg-4">
            <!-- Card cover image -->
            <img src="https://blog-cdn.reedsy.com/directories/admin/attachments/large_Glass-wall-353a56.jpg" class="card-img-top" alt="Book 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Card content -->
              <p class="card-text category-f3">Fiction, Mystery, Sci-Fi<p class="card-text flex-end">Reviews: 4.5 (25 reviews)  &nbsp;&nbsp; <span class="stars">&starf; &starf; &starf; &starf; &star;</span></p>          </p>
              <h1 class="card-title">The Mind Of A Leader</h1>
              <div class="product">
                <h5>Description:</h5>
                <p class="description collapse" id="description1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, nihil? Ipsum numquam provident officia! Dolore.</p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#description1" role="button" aria-expanded="false" aria-controls="description1">Show More</a>
              </div>
              <h4 class="card-text" style="color: #732678;"> $9.99</h4>
              <a href="" class="btn like"><i class="fa-solid fa-basket-shopping" style="color: #fff;"></i> Add to cart</a>
              <a href="" class="btn like"><i class="fa-solid fa-heart"></i> Like</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mt-4 mb-4 mx-auto" id="card">
        <div class="row g-0">
          <div class="col-md-1 col-lg-4">
            <!-- Card cover image -->
            <img src="https://blog-cdn.reedsy.com/directories/admin/attachments/large_Glass-wall-353a56.jpg" class="card-img-top" alt="Book 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Card content -->
              <p class="card-text category-f3">Fiction<p class="card-text flex-end">Reviews: 4.5 (25 reviews)  &nbsp;&nbsp; <span class="stars">&starf; &starf; &starf; &starf; &star;</span></p>          </p>
              <h1 class="card-title">A Day Of Fallen Light</h1>
              <div class="product">
                <h5>Description:</h5>
                <p class="description collapse" id="description1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem explicabo suscipit hic voluptas beatae repudiandae veritatis praesentium sed obcaecati excepturi.</p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#description1" role="button" aria-expanded="false" aria-controls="description1">Show More</a>
              </div>
              <h4 class="card-text" style="color: #732678;"> $13.99</h4>
              <a href="" class="btn like"><i class="fa-solid fa-basket-shopping" style="color: #fff;"></i> Add to cart</a>
              <a href="" class="btn like"><i class="fa-solid fa-heart"></i> Like</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mt-4 mb-4 mx-auto" id="card">
        <div class="row g-0">
          <div class="col-md-1 col-lg-4">
            <!-- Card cover image -->
            <img src="https://blog-cdn.reedsy.com/directories/admin/attachments/large_Glass-wall-353a56.jpg" class="card-img-top" alt="Book 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Card content -->
              <p class="card-text category-f3">Sci-Fi, Imaginary, Thriller, Rom-Com<p class="card-text flex-end">Reviews: 4.5 (25 reviews)  &nbsp;&nbsp; <span class="stars">&starf; &starf; &starf; &starf; &star;</span></p>          </p>
              <h1 class="card-title">Percy Jackson and The Olympians</h1>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <h4 class="card-text" style="color: #732678;"> $4.99</h4>
              <a href="" class="btn like"><i class="fa-solid fa-basket-shopping" style="color: #fff;"></i> Add to cart</a>
              <a href="" class="btn like"><i class="fa-solid fa-heart"></i> Like</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mt-4 mb-4 mx-auto" id="card">
        <div class="row g-0">
          <div class="col-md-1 col-lg-4">
            <!-- Card cover image -->
            <img src="https://blog-cdn.reedsy.com/directories/admin/attachments/large_Glass-wall-353a56.jpg" class="card-img-top" alt="Book 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- Card content -->
              <p class="card-text category-f3">Fiction, Horror, Modern, Thriller<p class="card-text flex-end">Reviews: 4.5 (25 reviews)  &nbsp;&nbsp; <span class="stars">&starf; &starf; &starf; &starf; &star;</span></p>          </p>
              <h1 class="card-title">Fire and Blood</h1>
              <div class="product">
                <h5>Description:</h5>
                <p class="description collapse" id="description1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus ex ipsam quas ad! Voluptatibus delectus ab ipsam.</p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#description1" role="button" aria-expanded="false" aria-controls="description1">Show More</a>
              </div>
              <h4 class="card-text" style="color: #732678;"> $39.99</h4>
              <a href="" class="btn like"><i class="fa-solid fa-basket-shopping" style="color: #fff;"></i> Add to cart</a>
              <a href="" class="btn like"><i class="fa-solid fa-heart"></i> Like</a>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

<div class="container-fluid p-4 frame4">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="text-center">
        <i class="fas fa-book fa-3x"></i>
        <h4>Wide Selection</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="text-center">
        <i class="fas fa-shopping-cart fa-3x"></i>
        <h4>Easy Ordering</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="text-center">
        <i class="fas fa-shipping-fast fa-3x"></i>
        <h4>Fast Delivery</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="text-center">
        <i class="fas fa-star fa-3x"></i>
        <h4>Customer Reviews</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid frame5">
  <div class="frame5-content">
    <!-- Content for frame5 -->
    <div class="row">
      <div class="col-6">
        <h3 class="mb-4 pt-5" style="color: #732678;">Best Sellers</h3>
      </div>
      <div class="col-6 mt-5 text-end">
        <a href="#" class="link">view more <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="carousel">
      
      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://d29xot63vimef3.cloudfront.net/image/classic-childrens-books/2-1.jpg" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Children</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">The Cat In The Hat</div>
              <div class="author">Dr.Seuss</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://uploads-ssl.webflow.com/5a8855ffd9716c0001a4227d/5b7835585f23e81cb64a65a0_lotr.jpg" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Thriller</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">Lord of The Rings</div>
              <div class="author">J.R.R Tolkien</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://www.mmm-online.com/wp-content/uploads/sites/2/2022/05/Relevate-Health_BookCover_Web-572x848.jpg" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Motivational</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">Moby Click</div>
              <div class="author">Relevate health</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://www.kingwoodcreations.com/wp-content/uploads/2019/07/the-ballerina-150.jpg" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Romance</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">The Ballerina</div>
              <div class="author">Jean J. Salvador</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://www.projectboldlife.com/images/2019/07/best-selling-self-help-books-rich-dad-poor-dad.png" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Self-Help</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">Rich Dad, Poor Dad</div>
              <div class="author">Robert Kiyosaki</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item f5-r">
        <div class="row">
          <div class="col-md-3 f5_t">
            <img src="https://www.coverdungeon.com/wp-content/uploads/2023/04/fantasy-bookcover-book-cover-design-designer-bestselling-fantasy.jpg" alt="Book 1" class="img-fluid">
          </div>

          <div class="col-md-3">
            <div class="info">
              <div class="genre">Fictional</div>
              <div class="rating">
                <i class="fas fa-star"></i>
                <span>4.5</span>
              </div>
              <div class="title">Fallen Princess</div>
              <div class="author">Mona Kasten</div>
              <div class="price">$9.99</div>
            </div>
          </div>
        </div>
      </div>

      

      <!-- Add more carousel items with the same structure -->
    </div>
    
  </div>
</div>  

<div class="container-fluid frame6">
  <div class="frame6-content">
    <!-- Content for frame5 -->
    <div class="row">
      <div class="col-6">
        <h3 class="mb-4 pt-5" style="color: #732678;">Top 10 Rated Books</h3>
      </div>
      <div class="col-6 mt-5 text-end">
        <a href="#" class="link">view more <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="carousel-two">
      <div class="top-rated-books">
        <div class="book-item ">
          <img src="https://blog-cdn.reedsy.com/directories/gallery/62/large_3487783b001bf4666c60d7a855f5084b.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Hiiden</div>
            <div class="book-author">K.M Wray</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Repeat the above structure for each book item -->

        <div class="book-item">
          <img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/15/50/1449878132-9781781100264.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Harry Potter and the Deathly Hallows</div>
            <div class="book-author">J.K Rowling</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://www.colleenhoover.com/wp-content/uploads/1017/01/it-ends-with-us-9781501110368_hr-659x1024.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">It Ends With Us</div>
            <div class="book-author">Coolen Harper</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1577621760l/52220595.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Follow Me To The Ground</div>
            <div class="book-author">Sue Rainsford</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://ik.imagekit.io/panmac/tr:f-auto,di-placeholder_portrait_aMjPtD9YZ.jpg,w-270/edition/9781035018642.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">The Roughest Draft</div>
            <div class="book-author">Austin Siegemund-Broka</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://offtheshelf.b-cdn.net/app/uploads/2017/05/November-9-.jpeg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">November 9</div>
            <div class="book-author">Coolen Hoover</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://images.penguinrandomhouse.com/cover/9780515156386" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">The Obsession</div>
            <div class="book-author">Nora Roberts</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://2.bp.blogspot.com/-RDIElTfHtkI/Wbp7Cd4HVJI/AAAAAAAAOLY/3RHUjIY_uFUELjUabDyBZWffIgvkMrvogCLcBGAs/s1600/f056682fd7c723455536805b0e87a6e2--nothing-lasts-forever-sidney-sheldon.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Nothing lasts Forever</div>
            <div class="book-author">Sydney Sheldon</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781476759388/falling-for-jillian-9781476759388_hr.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Falling For Jillian</div>
            <div class="book-author">Kristen Proby</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="book-item">
          <img src="https://miblart.com/wp-content/uploads/2020/11/Dean_Rasmussen_ebook-666x1024.jpg" alt="Book 1" class="book-cover">
          <div class="book-details">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="book-title">Hanging House</div>
            <div class="book-author">Dean Rasmussen</div>
            <div class="book-price">
              <div class="price-bar">
                <span class="price">$9.99</span>
                <a href="#" class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    
  </div>
</div>  

<div class="container-fluid">
  <div class="frame7">
    <!-- Content for frame2 -->
    <p class="header-f2">Testimonials</p>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Delectus, deserunt?</p>

    <div class="testimonial-container">
      <div class="testimonial-card col-4 ">
        <div class="testimonial-content">
          <div class="testimonial-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial-comment">
            "This product exceeded my expectations. Highly recommended!"
          </div>
          <div class="tnm">
              <div class="testimonial-name">John Doe    
                <div class="ttext">
                  Book Lovers
                </div>  
            </div>
            <div class="testimonial-image">
              <img src="https://images.unsplash.com/photo-1596921580008-6a5533accf32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&w=1000&q=80   " alt="Person 1">
              </div>
          </div>
         
        </div>
      </div>
      
      <div class="testimonial-card col-4 ">
        <div class="testimonial-content">
          <div class="testimonial-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial-comment">
            "I'm really impressed with the quality of the service. Great job!"
          </div>
          <div class="tnm">
            <div class="testimonial-name">Jane Smith
              <div class="ttext">
                Book Lovers
              </div>  
            </div>
            <div class="testimonial-image">
              <img src="https://i.pinimg.com/originals/a6/02/d7/a602d7b83783f3d4cce6132d5eeba940.jpg" alt="Person 1">
            </div>
          </div>  
       
        </div>
        </div>
    </div>

    <div class="info-section">
      <div class="info-item">
        <i class="fas fa-store info-icon"></i><span>200</span>
        <div>Our stores around the world</div> 
      </div>
      <div class="info-item">
        <i class="fas duotone fa-people-group info-icon"></i><span>30, 000</span>
        <div>Happy customers</div>
      </div>
      <div class="info-item">
        <i class="fas fa-book-open info-icon"></i><span>50k+</span> 
        <div>Books in our collection</div>
      </div>
    </div>

    <div class="contact-container">
      <img src="../static/Vector.png" class="vector1" alt="">
      <div class="contact-text">
        Send a message to us <br>for a quick response
      </div>
      <input type="text" class="contact-input" placeholder="Type in your email here">
      <button class="contact-button">Send</button>
      <img src="../static/Vector.png" class="vector" alt="">
    </div>

  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <img class="footer-logo" src="../static/booklib logo.png" alt="Logo">
      <div class="footer-text">
        BookLib is an online bookstore where you can get a variety of your favorite books. Find your books here now.
      </div>
      
      <p>Follow Us</p>
      <div class="footer-social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    <div class="footer-column">
      <div class="footer-heading">Quick Links</div>
      <ul class="footer-links">
        <li class="footer-link"><a href="about-us.html">About Us</a></li>
        <li class="footer-link"><a href="contact-us.html">Contact Us</a></li>
        <li class="footer-link"><a href="login.html">Login</a></li>
        <li class="footer-link"><a href="products.html">Products</a></li>
        <li class="footer-link"><a href="sign-up.html">Sign Up</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-heading">Customer Area</div>
      <ul class="footer-links">
        <li class="footer-link"><a href="my-account.html">My Account</a></li>
        <li class="footer-link"><a href="orders.html">Orders</a></li>
        <li class="footer-link"><a href="wishlist.html">Wishlist</a></li>
        <li class="footer-link"><a href="tracking-list.html">Tracking List</a></li>
        <li class="footer-link"><a href="privacy-policy.html">Privacy Policy</a></li>
        <li class="footer-link"><a href="terms-conditions.html">Terms and Conditions</a></li>
      </ul>
    </div>
    
  </div>
</footer>

<hr>
<div class="closure">
  <span>BookLib  -  2023 All Rights Reserved</span>
  <span>Made with love by Mmeso</span>
</div>


 <script>
  const navLinks = document.querySelectorAll('.nav-link');
  hearts = document.querySelectorAll('.fa-heart')

  navLinks.forEach(link => {
    link.addEventListener('click', () => {
      // Toggle the 'active' class
      link.classList.toggle('active');

      // Set 'aria-current' attribute for screen readers
      link.setAttribute('aria-current', 'page');
    });
  });

  hearts.forEach(heart => {
    heart.addEventListener('click', () => {
      // Toggle the 'active' class
      heart.classList.toggle('red');

    });
  });


  $('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 1,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: true,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: true,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

$(document).ready(function() {
    $('.carousel').slick({
      slidesToShow: 2,
      slidesToScroll: 2,
      prevArrow: '<button type="button" class="frame5_slick-prev"><i class="fas fa-arrow-left"></i></button>',
      nextArrow: '<button type="button" class="frame5_slick-next"><i class="fas fa-arrow-right"></i></button>'
  });
  });

$(document).ready(function() {
    $('.top-rated-books').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      prevArrow: '<button type="button" class="frame5_slick-prev"><i class="fas fa-arrow-left"></i></button>',
      nextArrow: '<button type="button" class="frame5_slick-next"><i class="fas fa-arrow-right"></i></button>'
  });
  });

 </script>
 



{% endblock %}

